@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

main {
  margin-top: -10px;
}

:root {
  font-size: 62.5%;
  --bg-color: var(--light-bg);
  --dark-bg: #222430;
  --dark-nordic: #6a6617;
  --dark-section-bg: #000;
  --dark-section-header: #4a330a;
  --dark-switch-icon: "🌝";
  /* Dark mode */
  --dark-switch-shadow: #fce477;
  --dark-switch-text: "light mode?";
  --dark-text: #f7f7f7;
  --light-bg: #fff;
  --light-nordic: #fff300;
  --light-section-bg: #f2f2f2;
  --light-section-header: #ffa500;
  --light-switch-icon: "🌚";
  /* Light mode */
  --light-switch-shadow: #373d4e;
  --light-switch-text: "dark mode?";
  --light-text: #222430;
  --light-theme: #d34a97;
  --section-bg: var(--light-section-bg);
  --section-header: var(--light-section-header);
  --section-nordic: var(--light-nordic);
  --switch-icon: var(--light-switch-icon);
  /* Default mode */
  --switch-shadow-color: var(--light-switch-shadow);
  --switch-text: var(--light-switch-text);
  --text-color: var(--light-text);
  --theme-color: var(--light-theme);
}

.page-container {
  overflow: hidden;
  max-width: 1921px;
  margin: 0 auto;
}

#page {
  color: var(--text-color);
  background: var(--bg-color);
}

.wrapper {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
}
.wrapper--bg {
  padding: 3rem;
  background-color: var(--section-bg);
}
.wrapper--three-col {
  display: grid;
  text-align: center;
  grid-column-gap: 5px;
  grid-row-gap: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
@media (min-width: 768px) {
  .wrapper--three-col {
    display: grid;
    text-align: left;
    grid-column-gap: 5px;
    grid-row-gap: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
  }
}

.header {
  z-index: 2;
  height: 50rem;
  padding: 3rem;
  background: var(--section-header);
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  z-index: 10;
  background: var(--section-header);
}
@media (min-width: 880px) {
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
@media (min-width: 420px) {
  .menu {
    flex-direction: row;
  }
}
@media (min-width: 880px) {
  .menu {
    margin-top: 0;
  }
}
.menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}
.menu__link {
  margin: 0.2rem 0.2rem;
  padding: 0.5rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  transition: all 0.2s ease-in;
  text-decoration: none;
  color: #000;
}
@media (min-width: 420px) {
  .menu__link {
    margin: 1rem 1rem;
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .menu__link {
    margin: 1rem 1rem;
    font-size: 1.5rem;
  }
}
.menu__link:hover {
  padding-bottom: 0.2rem;
  border-bottom: dashed 1px #000;
}
.menu__link--active {
  padding-bottom: 0.2rem;
  font-weight: 800;
  border-bottom: dashed 1px #000;
}
.menu__link > i {
  padding-left: 0.5rem;
  color: #e92f03;
  display: none;
}
@media (min-width: 768px) {
  .menu__link > i {
    display: initial;
  }
}
.menu__button {
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
  color: #fff;
  border: solid 1px #e92f03;
  background: #e92f03;
}
.menu__button:hover {
  color: #e92f03;
  background: transparent;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 13rem;
  margin-bottom: 0rem;
  padding: 1rem 0rem;
}
@media (min-width: 768px) {
  .banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    padding: 15rem 0rem;
    margin-bottom: 3rem;
  }
}
.banner__title {
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 880px) {
  .banner__title {
    font-size: 5rem;
  }
}
@media (min-width: 768px) {
  .banner__title {
    margin: 0;
    text-align: left;
  }
}
.banner__subtitle {
  width: 8.5rem;
  padding: 2rem;
  font-size: 3rem;
  background-color: var(--section-nordic);
}
.banner__subtitle > span {
  padding-left: 1.2rem;
  font-size: 3rem;
}

.description {
  display: flex;
}
.description__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: var(--text-color);
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .description__text {
    text-align: left;
    margin-left: 9rem;
  }
}

.about-company {
  display: grid;
  background-color: var(--section-bg);
  grid-column-gap: 5px;
  grid-row-gap: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
@media (min-width: 768px) {
  .about-company {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
  }
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 15px;
}

.employees {
  padding: 4rem 0rem;
  text-align: center;
  grid-area: 1/2/2/12;
}
@media (min-width: 768px) {
  .employees {
    text-align: left;
    grid-area: 1/2/2/4;
  }
}
.employees__text {
  height: 5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}
.employees__number {
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
}

.establishment {
  padding: 4rem 0rem;
  text-align: center;
  grid-area: 2/2/3/12;
}
@media (min-width: 768px) {
  .establishment {
    text-align: left;
    grid-area: 1/5/2/8;
  }
}
.establishment__text {
  height: 5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}
.establishment__number {
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
}

.industry {
  padding: 4rem 0rem;
  text-align: center;
  grid-area: 3/2/4/12;
}
@media (min-width: 768px) {
  .industry {
    text-align: left;
    grid-area: 1/9/2/12;
  }
}
.industry__text {
  height: 5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}
.industry__description {
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
}

.services {
  display: grid;
  margin: 8rem 0rem;
  grid-column-gap: 5px;
  grid-row-gap: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
}

.providers {
  grid-area: 1/3/2/11;
}
.providers__heading {
  margin-bottom: 4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: var(--text-color);
}
.providers__description {
  margin-bottom: 4rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: var(--text-color);
}

.about-ceo {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media (min-width: 768px) {
  .about-ceo {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
  }
}

.ceo-image {
  display: flex;
  justify-content: center;
  position: relative;
  grid-area: 1/2/2/12;
}
@media (min-width: 768px) {
  .ceo-image {
    grid-area: 1/1/2/4;
  }
}
.ceo-image > img {
  transition: all 0.3s ease-in;
}
.ceo-image:hover img {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.ceo-image::before {
  content: "Linus Kaasik";
  position: absolute;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 3;
  transition: visibility 0.3s ease-in;
}
.ceo-image:hover::before {
  visibility: visible;
}

.ceo-description {
  position: relative;
  grid-area: 2/2/2/13;
}
@media (min-width: 768px) {
  .ceo-description {
    grid-area: 1/6/2/12;
  }
}
.ceo-description__text {
  margin-top: 1rem;
  margin-bottom: 5rem;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-style: italic;
  color: var(--text-color);
}
@media (min-width: 768px) {
  .ceo-description__text {
    margin-top: 0;
  }
}
.ceo-description__signature {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: var(--text-color);
}
.ceo-description__signature > span {
  font-weight: 600;
}
.ceo-description__sign {
  display: none;
}
@media (min-width: 420px) {
  .ceo-description__sign {
    position: absolute;
    bottom: 25%;
    left: 60%;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 18rem;
    transform: rotate(180deg);
    color: #e92f03;
  }
}

.stage {
  margin: 8rem 0rem;
  grid-area: 1/3/2/11;
}
.stage__heading {
  margin-bottom: 5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: var(--text-color);
}
.stage__title {
  margin-bottom: 5rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.8rem;
  color: var(--text-color);
}
.stage__description {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: var(--text-color);
}

.first-banner > img {
  width: 100%;
}

.second-banner {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .second-banner {
    flex-direction: row;
  }
}
.second-banner > img {
  width: 100%;
  padding: 0.5rem 0;
}

.third-banner {
  grid-area: 1/8/2/13;
}

.people-involved {
  text-align: center;
  grid-area: 3/2/4/12;
}
@media (min-width: 768px) {
  .people-involved {
    text-align: left;
    grid-area: 1/9/2/11;
  }
}
.people-involved__number {
  padding-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 10rem;
  font-weight: 100;
  color: var(--text-color);
  border-bottom: solid 1px var(--text-color);
}
.people-involved__description {
  padding-top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}

.coffe-cups {
  text-align: center;
  grid-area: 2/2/3/12;
}
@media (min-width: 768px) {
  .coffe-cups {
    text-align: left;
    grid-area: 1/6/2/8;
  }
}
.coffe-cups__number {
  padding-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 10rem;
  font-weight: 100;
  color: var(--text-color);
  border-bottom: solid 1px var(--text-color);
}
.coffe-cups__description {
  padding-top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}

.project-hours {
  text-align: center;
  grid-area: 1/2/2/12;
}
@media (min-width: 768px) {
  .project-hours {
    text-align: left;
    grid-area: 1/3/2/5;
  }
}
.project-hours__number {
  padding-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 10rem;
  font-weight: 100;
  color: var(--text-color);
  border-bottom: solid 1px var(--text-color);
}
.project-hours__description {
  padding-top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}

.company-description {
  margin: 8rem 0rem;
  grid-area: 1/3/2/11;
}
.company-description__text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: var(--text-color);
}

.paralax-box {
  min-height: 45rem;
  background-image: url("../assets/paralax.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.bottom-buttons {
  grid-area: 1/3/2/11;
}
.bottom-buttons__button {
  margin-right: 0.5rem;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
  color: #fff;
  border: solid 0.1rem #e92f03;
  border-radius: 2.5rem;
  background: #e92f03;
}
.bottom-buttons__button:hover {
  color: #e92f03;
  border: solid 0.1rem #e92f03;
  background: transparent;
}

.breadcrumbs {
  grid-area: 1/3/2/11;
}
.breadcrumbs__links {
  padding-top: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.socialicons {
  display: flex;
  align-items: center;
  margin: 8rem 0 8rem 2rem;
}
.socialicons__list {
  display: flex;
  list-style-type: none;
}
.socialicons__list > li {
  margin: 0 0.5rem;
  padding: 0rem 0.3rem;
  font-size: 1.5rem;
  border: solid 1px var(--text-color);
  border-radius: 50%;
  background: var(--text-color);
}
.socialicons__list > li > a > i {
  padding: 1rem;
  transition: all 0.2s ease-in;
  color: #fff;
}
.socialicons__list > li > a:hover i {
  color: #e92f03;
}
.socialicons__text {
  font-size: 1.5rem;
}

.heading {
  margin-bottom: 8rem;
  grid-area: 1/2/2/12;
}
.heading__text {
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  font-weight: 600;
  color: var(--text-color);
}

.image-box {
  grid-area: 1/2/2/12;
}
@media (min-width: 768px) {
  .image-box {
    grid-area: 1/2/2/4;
  }
}

.contact {
  padding-bottom: 8rem;
}

.fast-contact-first {
  grid-area: 2/2/3/12;
}
@media (min-width: 768px) {
  .fast-contact-first {
    grid-area: 1/5/2/8;
  }
}
.fast-contact-first__name {
  padding-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: var(--text-color);
}
.fast-contact-first__tel {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  transition: color 0.2s ease-in;
  text-decoration: none;
  color: var(--text-color);
}
.fast-contact-first__tel:hover {
  color: #e92f03;
}
.fast-contact-first__mail {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  transition: color 0.2s ease-in;
  color: var(--text-color);
}
.fast-contact-first__mail:hover {
  color: #e92f03;
}

.fast-contact-second {
  grid-area: 3/2/4/12;
}
@media (min-width: 768px) {
  .fast-contact-second {
    grid-area: 1/9/2/12;
  }
}
.fast-contact-second__text {
  padding-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: var(--text-color);
}
.fast-contact-second__text > a {
  padding-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  transition: color 0.2s ease-in;
  text-decoration: none;
  color: var(--text-color);
}
.fast-contact-second__text > a:hover {
  color: #e92f03;
}
.fast-contact-second__subtext {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: var(--text-color);
}

.footer {
  background-color: #454545;
}

.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 6rem;
}
@media (min-width: 768px) {
  .footer-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-explore {
  padding-bottom: 5rem;
}
@media (min-width: 768px) {
  .footer-explore {
    padding-bottom: 0;
  }
}
.footer-explore__heading {
  padding-bottom: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  color: #838383;
}
.footer-explore__text {
  padding-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #838383;
}

.footer-soultions {
  display: flex;
}
.footer-soultions > ul {
  list-style-type: none;
}
.footer-soultions > ul:first-child {
  padding-right: 3rem;
}
.footer-soultions > ul > li > a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
  text-decoration: none;
  color: #fff;
}
.footer-soultions > ul > li > a:hover {
  color: #838383;
}

.footer-newsletter {
  padding-bottom: 5rem;
}
@media (min-width: 768px) {
  .footer-newsletter {
    padding-bottom: 0;
  }
}
.footer-newsletter__heading {
  padding-bottom: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  color: #838383;
}

.footer-newsletter-form__input {
  padding: 1.5rem 0rem 1.5rem 1rem;
  color: #838383;
  border: solid 0.1rem #838383;
  background: transparent;
}
@media (min-width: 420px) {
  .footer-newsletter-form__input {
    padding: 1.5rem 13rem 1.5rem 1rem;
  }
}
.footer-newsletter-form__input:focus {
  outline: none;
}
.footer-newsletter-form__btn {
  margin-left: -0.5rem;
  padding: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
  color: #fff;
  border: solid 0.1rem #838383;
  background: #838383;
}
.footer-newsletter-form__btn:hover {
  color: #838383;
  background: #fff;
}

.footer-contact__text {
  padding-bottom: 1rem;
  padding-left: 3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #838383;
}
.footer-contact > img {
  padding-bottom: 3rem;
}
.footer-contact__contact > a {
  padding-bottom: 1rem;
  padding-left: 3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  transition: all 0.3s ease-in;
  text-decoration: none;
  color: #838383;
}
.footer-contact__contact > a:hover {
  color: #fff;
}

.footer-blog {
  padding: 5rem 0rem;
}
.footer-blog__heading {
  padding-bottom: 3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  color: #838383;
}
.footer-blog__entries {
  list-style-type: none;
}
.footer-blog__entries > li {
  padding: 0.7rem 0rem;
}
.footer-blog__entries > li > a {
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.3s ease-in;
  text-decoration: none;
  color: #fff;
}
.footer-blog__entries > li > a:hover {
  color: var(--text-color);
}

.footer-legal__heading {
  padding-bottom: 3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  color: #838383;
}
.footer-legal__text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.footer-socials {
  padding: 3rem 0rem;
}
.footer-socials__list {
  display: flex;
  list-style-type: none;
}
.footer-socials__list > li > a {
  padding: 0 0.5rem;
}
.footer-socials__list > li > a > i {
  font-size: 2em;
  transition: all 0.3s ease-in;
  color: #838383;
}
.footer-socials__list > li > a:hover i {
  color: #e92f03;
}

.copyright {
  padding-bottom: 3rem;
}
.copyright__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #838383;
}

.theme-switch:checked ~ #page {
  --bg-color: var(--dark-bg);
  --section-bg: var(--dark-section-bg);
  --section-header: var(--dark-section-header);
  --section-nordic: var(--dark-nordic);
  --switch-icon: var(--dark-switch-icon);
  --switch-shadow-color: var(--dark-switch-shadow);
  --switch-text: var(--dark-switch-text);
  --text-color: var(--dark-text);
  --theme-color: var(--dark-theme);
}

.theme-switch {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.switch-label {
  display: flex;
  padding: 1rem 0rem;
  cursor: pointer;
}

.switch-label::before {
  font-size: 2rem;
  content: var(--switch-icon);
  transition: text-shadow 0.2s;
}

.theme-switch:focus ~ #page .switch-label::before,
.switch-label:hover::before {
  text-shadow: 0 0 15px var(--switch-shadow-color);
}/*# sourceMappingURL=main.css.map */