.container {
    max-width: $screen-max-width;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // flex-wrap: wrap;
    margin: auto;
    padding: 0 15px;
}