.description {
    position: absolute;
    left: 0;
    bottom: 2rem;

    @include media (mobile) {
        left: 35rem;
    }

    &__text {
        font-family: $font-family-montserrat;
        font-size: 1.4rem;
        color: var(--text-color);
    }
}
