.employees {
    grid-area: 1 / 2 / 2 / 12;
    padding: 4rem 0rem;
    text-align: center;

    @include media (mobile) {
        grid-area: 1 / 2 / 2 / 4;
        text-align: left;
    }

    &__text {
        font-size: 1.4rem;
        font-family: $font-family-montserrat;
        height: 5rem;
    }

    &__number {
        font-family: $font-family-montserrat;
        font-weight: $font-semi-bold;
        font-size: 3.2rem;
    }
}
