.fast-contact-first {
    grid-area: 1 / 5 / 2 / 8;

    &__name {
        color: $color-gray;
        font-family: $font-family-roboto;
        font-size: 1.8rem;
        padding-bottom: 2rem;
    }

    &__tel {
        font-size: 1.5rem;
        font-family: $font-family-roboto;
        color: $color-gray;
        text-decoration: none;
        transition: color .2s ease-in;
    }

    &__tel:hover {
        color: $color-red;
    }

    &__mail {
        font-size: 1.5rem;
        font-family: $font-family-roboto;
        color: $color-gray;
        transition: color .2s ease-in;
    }

    &__mail:hover {
        color: $color-red;
    }
}
