.fast-contact-first {
    @include media (mobile) {
        grid-area: 1 / 5 / 2 / 8;
    }

    grid-area: 2 / 2 / 3 / 12;

    &__name {
        padding-bottom: 2rem;

        font-family: $font-family-roboto;
        font-size: 1.8rem;

        color: var(--text-color);
    }

    &__tel {
        font-family: $font-family-roboto;
        font-size: 1.5rem;

        transition: color .2s ease-in;
        text-decoration: none;

        color: var(--text-color);
    }

    &__tel:hover {
        color: $color-red;
    }

    &__mail {
        font-family: $font-family-roboto;
        font-size: 1.5rem;

        transition: color .2s ease-in;

        color: var(--text-color);
    }

    &__mail:hover {
        color: $color-red;
    }
}
