.footer-newsletter-form {
    &__input {
        padding: 1.5rem 0rem 1.5rem 1rem;
        background: transparent;
        border: solid .1rem $color-gray-lighter;
        color: $color-gray-lighter;

        @include media (mobile-small) {
            padding: 1.5rem 13rem 1.5rem 1rem;
        }

        &:focus {
            outline: none;
        }
    }

    &__btn {
        padding: 1.5rem;
        margin-left: -.5rem;
        border: solid .1rem $color-gray-lighter;
        background: $color-gray-lighter;
        color: $color-white;
        cursor: pointer;
        transition: all .3s ease-in;

        &:hover {
            background: $color-white;
            color: $color-gray-lighter;
        }
    }
}
