.footer-contact {
    &__text {
        padding-bottom: 1rem;
        padding-left: 3rem;

        font-family: $font-family-montserrat;
        font-size: 2rem;

        color: $color-gray-lighter;
    }

    & > img {
        padding-bottom: 3rem;
    }

    &__contact {
        & > a {
            padding-bottom: 1rem;
            padding-left: 3rem;

            font-family: $font-family-montserrat;
            font-size: 2rem;

            transition: all .3s ease-in;
            text-decoration: none;

            color: $color-gray-lighter;
        }

        & > a:hover {
            color: $color-white;
        }
    }
}
