.footer-col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 6rem;

    @include media (mobile) {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}
