.footer-soultions {
    display: flex;
    

    &>ul{
        list-style-type: none;
        
        &:first-child{
            padding-right: 3rem;
        }

        &>li>a {
            font-size: 1.5rem;
            font-family: $font-family-montserrat;
            color: $color-white;
            cursor: pointer;
            text-decoration: none;
            transition: all .3s ease-in;
        }

        &>li>a:hover {
            color: $color-gray-lighter;
        }
    }

}
