.footer-newsletter-form {
    &__input {
        padding: 1.5rem 0rem 1.5rem 1rem;

        color: $color-gray-lighter;
        border: solid .1rem $color-gray-lighter;
        background: transparent;
        @include media (mobile-small) {
                padding: 1.5rem 13rem 1.5rem 1rem;
            }

            &:focus {
                outline: none;
            }
        }

    &__btn {
        margin-left: -.5rem;
        padding: 1.5rem;

        cursor: pointer;
        transition: all .3s ease-in;

        color: $color-white;
        border: solid .1rem $color-gray-lighter;
        background: $color-gray-lighter;

        &:hover {
            color: $color-gray-lighter;
            background: $color-white;
        }
    }
}
