.paralax-box {
    background-image: url('./assets/paralax.png');
    background-attachment: fixed;
    min-height: 45rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
