.paralax-box {
    min-height: 45rem;

    background-image: url('../assets/paralax.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
