.project-hours {
    grid-area: 1 / 2 / 2 / 12;
    text-align: center;

    @include media (mobile) {
        grid-area: 1 / 3 / 2 / 5;
        text-align: left;
    }

    &__number {
        font-family: $font-family-roboto;
        font-size: 10rem;
        color: var(--text-color);;
        border-bottom: solid 1px var(--text-color);
        padding-bottom: 2rem;
        font-weight: $font-thin;
    }

    &__description {
        font-family: $font-family-montserrat;
        font-size: 1.4rem;
        padding-top: 2rem;
    }
}
