html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  /* Light mode */
  --light-switch-shadow: #373d4e;
  --light-switch-icon: "🌚";
  --light-switch-text: "dark mode?";
  --light-text: #222430;
  --light-bg: #fff;
  --light-theme: #d34a97;
  --light-section-bg: #F2F2F2;
  --light-section-header: #FFA500;
  --light-nordic: #FFF300;

  /* Dark mode */
  --dark-switch-shadow: #fce477;
  --dark-switch-icon: "🌝";
  --dark-switch-text: "light mode?";
  --dark-text: #f7f7f7;
  --dark-bg: #222430;
  --dark-theme: #bd93f9;
  --dark-section-bg: #000;
  --dark-section-header: #4a330a;
  --dark-nordic: #6a6617;

  /* Default mode */
  --switch-shadow-color: var(--light-switch-shadow);
  --switch-icon: var(--light-switch-icon);
  --switch-text: var(--light-switch-text);
  --text-color: var(--light-text);
  --bg-color: var(--light-bg);
  --theme-color: var(--light-theme);
  --section-bg: var(--light-section-bg);
  --section-header: var(--light-section-header);
  --section-nordic: var(--light-nordic);
}
