.stage {
    grid-area: 1 / 3 / 2 / 11;
    margin: 8rem 0rem;

    &__heading {
        color: var(--text-color);
        font-size: 1.4rem;
        font-family: $font-family-montserrat;
        margin-bottom: 5rem;
    }

    &__title {
        color: var(--text-color);
        font-family: $font-family-roboto;
        font-size: 2.8rem;
        margin-bottom: 5rem;
    }

    &__description {
        font-size: 1.5rem;
        font-family: $font-family-roboto;
        color: var(--text-color);
    }
}