//Colors
$color-red: #E92F03;
$color-gray-lighter: #838383;
$color-white-darker: #F2F2F2;
$color-white: #fff;
$color-black: #000;
$color-yellow: #FFF300;


//breakpoints
$breakpoints: (
    mobile-small: 420px,
    mobile: 768px,
    tablet-small: 880px,
    tablet: 1024px,
    desktop-small: 1200px,
    desktop: 1440px,
    desktop-mid: 1600px,
    desktop-large: 1920px,
    desktop-extra-large: 2500px,
    desktop-ultra-large: 3800px,
);


//Fonts 
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-thin: 100;
$font-semi-thin: 300;
$font-regular: 400;
$font-semi-bold: 500;
$font-bold: 600;
$font-extra-bold: 800;

//Widths
$screen-max-width: 1000px;
