//base
@import 'mixins';
@import 'variables';
@import 'reset';
@import 'fonts';



//components
@import 'page-container';
@import 'wrapper';
@import 'header';
@import 'navigation';
@import 'menu';
@import 'banner';
@import 'description';
@import 'about-company';
@import 'container';
@import 'employees';
@import 'establishment';
@import 'industry';
@import 'services';
@import 'providers';
@import 'about-ceo';
@import 'ceo-image';
@import 'ceo-description';
@import 'stage';
@import 'first-banner';
@import 'second-banner';
@import 'third-banner';
@import 'people-involved';
@import 'coffe-cups';
@import 'project-hours';
@import 'company-description';
@import 'paralax-box';