.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin-top: 12rem;
    padding: 1rem 0rem;
    @include media (mobile) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        margin-top: 0;
        padding: 15rem 0rem;
    }

    &__title {
        margin-bottom: 1rem;

        font-family: $font-family-montserrat;
        font-size: 3rem;
        font-weight: $font-bold;

        text-align: center;
    @include media (tablet-small) {
            font-size: 5rem;
        }

    @include media (mobile) {
            margin: 0;

            text-align: left;
        }
    }

    &__subtitle {
        width: 8.5rem;
        padding: 2rem;

        font-size: 3rem;

        background-color: var(--section-nordic);

        & > span {
            padding-left: 1.2rem;

            font-size: 3rem;
        }
    }
}
