.bottom-buttons {
    grid-area: 1 / 3 / 2 / 11;

    &__button {
        margin-right: .5rem;
        padding: .5rem .7rem;

        cursor: pointer;
        transition: all .2s ease-in;

        color: $color-white;
        border: solid .1rem $color-red;
        border-radius: 2.5rem;
        background: $color-red;

        &:hover {
            color: $color-red;
            border: solid .1rem $color-red;
            background: transparent;
        }
    }
}
