.ceo-description {
    position: relative;

    @include media(mobile) {
        grid-area: 1 / 6 / 2 / 12;
    }

    grid-area: 2 / 2 / 2 / 13;
    &__text {
        margin-top: 1rem;
        margin-bottom: 5rem;

        font-family: $font-family-roboto;
        font-size: 2rem;
        font-style: italic;

        color: var(--text-color);
    @include media (mobile) {
            margin-top: 0;
        }
    }

    &__signature {
        font-family: $font-family-roboto;
        font-size: 1.4rem;

        color: var(--text-color);
        & > span {
            font-weight: $font-bold;
        }
    }

    &__sign {
        display: none;

    @include media (mobile-small) {
            position: absolute;
            bottom: 25%;
            left: 60%;

            display: block;

            font-family: $font-family-roboto;
            font-size: 18rem;

            transform: rotate(180deg);

            color: $color-red;
        }
    }
}
