.description {
    display: flex;

    &__text {
        font-family: $font-family-montserrat;
        font-size: 1.4rem;

        color: var(--text-color);
        text-align: center;
        margin: 0;

        @include media (mobile) {
            text-align: left;
            margin-left: 9rem;
        }
    }
}
