.fast-contact-second {
    @include media (mobile) {
        grid-area: 1 / 9 / 2 / 12;
    }

    grid-area: 3 / 2 / 4 / 12;

    &__text {
        padding-bottom: 2rem;

        font-family: $font-family-roboto;
        font-size: 1.8rem;

        color: var(--text-color);

        & > a {
            padding-bottom: 2rem;

            font-family: $font-family-roboto;
            font-size: 1.8rem;

            transition: color .2s ease-in;
            text-decoration: none;

            color: var(--text-color);
        }

        & > a:hover {
            color: $color-red;
        }
    }

    &__subtext {
        font-family: $font-family-roboto;
        font-size: 1.5rem;

        color: var(--text-color);
    }
}
