.footer-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 6rem;

    @include media (mobile) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
