.footer-legal {
    &__heading {
        padding-bottom: 3rem;

        font-family: $font-family-montserrat;
        font-size: 4rem;

        color: $color-gray-lighter;
    }

    &__text {
        font-size: 1.5rem;
        font-weight: $font-bold;

        color: $color-white;
    }
}
