.footer-socials {
    padding: 3rem 0rem;
    &__list {
        display: flex;

        list-style-type: none;

        & > li > a {
            padding: 0 .5rem;

            & > i {
                font-size: 2em;

                transition: all .3s ease-in;

                color: $color-gray-lighter;
            }
        }

        & > li > a:hover i {
            color: $color-red;
        }
    }
}
