.heading {
    margin-bottom: 8rem;

    grid-area: 1 / 2 / 2 / 12;

    &__text {
        font-family: $font-family-montserrat;
        font-size: 6rem;
        font-weight: $font-bold;

        color: var(--text-color);;
    }
}
