.menu {
    display: flex;
    flex-direction: column;

    margin-top: 1rem;
    @include media (mobile-small) {
        flex-direction: row;
    }

    @include media(tablet-small) {
        margin-top: 0;
    }

    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;

        list-style-type: none;
    }

    &__link {
        margin: .2rem .2rem;
        padding: .5rem 0;

        font-family: $font-family-montserrat;
        font-size: 1rem;
        font-weight: $font-semi-thin;

        transition: all .2s ease-in;
        text-decoration: none;

        color: $color-black;
        @include media (mobile-small) {
            margin: 1rem 1rem;

            font-size: 1rem;
        }

        @include media (mobile) {
            margin: 1rem 1rem;

            font-size: 1.5rem;
        }

        &:hover {
            padding-bottom: .2rem;

            border-bottom: dashed 1px $color-black;
        }

        &--active {
            padding-bottom: .2rem;

            font-weight: 800;

            border-bottom: dashed 1px $color-black;
        }

        & > i {
            padding-left: .5rem;

            color: $color-red;
            display: none;

            @include media (mobile) {
                display: initial;
            }
        }
    }

    &__button {
        padding: .5rem;

        cursor: pointer;
        transition: all .2s ease-in;

        color: $color-white;
        border: solid 1px $color-red;
        background: $color-red;

        &:hover {
            color: $color-red;
            background: transparent;
        }
    }
}
