.navigation {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 2rem;

    z-index: 10;

    background: var(--section-header);
    @include media(tablet-small) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
