.theme-switch:checked ~ #page {
    --bg-color: var(--dark-bg);
    --section-bg: var(--dark-section-bg);
    --section-header: var(--dark-section-header);
    --section-nordic: var(--dark-nordic);
    --switch-icon: var(--dark-switch-icon);
    --switch-shadow-color: var(--dark-switch-shadow);
    --switch-text: var(--dark-switch-text);
    --text-color: var(--dark-text);
    --theme-color: var(--dark-theme);
}

.theme-switch {
    position: absolute !important;

    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px;
    height: 1px;
}

.switch-label {
    display: flex;

    padding: 1rem 0rem;

    cursor: pointer;
}

.switch-label::before {
    font-size: 2rem;

    content: var(--switch-icon);
    transition: text-shadow .2s;
}

.theme-switch:focus ~ #page .switch-label::before,
.switch-label:hover::before {
    text-shadow: 0 0 15px var(--switch-shadow-color);
}
